{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/calendar.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/navigation.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/calendar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <script>
        let practitionerIdCurrent = {{ app.user.id }};
    </script>

    {% include 'app/menu.html.twig'%}

    <div class="main-container">
        {% if 'ROLE_PRACTITIONER' not in app.user.roles %}
            <div class="practitioner-drop-down">
                <ul id="practitioner-list"></ul>
            </div>
        {% endif %}
        <div class="main-calendar-container">
            <div class="calendar-container">
                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation">
                    <span id="calendar-prev"
                          class="material-symbols-rounded">
                        <
                    </span>
                        <span id="calendar-next"
                              class="material-symbols-rounded">
                        >
                    </span>
                    </div>
                </header>

                <div class="calendar-body">
                    <ul class="calendar-weekdays">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="calendar-dates"></ul>
                </div>
            </div>
        </div>
        <div class="main-day-container" id="main-day-container">
            <ul>
                <li>8:00<div></div></li>
                <li>9:00<div></div></li>
                <li>10:00<div></div></li>
                <li>11:00<div></div></li>
                <li>12:00<div></div></li>
                <li>13:00<div></div></li>
                <li>14:00<div></div></li>
                <li>15:00<div></div></li>
                <li>16:00<div></div></li>
                <li>17:00<div></div></li>
                <li>18:00<div></div></li>
                <li>19:00<div></div></li>
                <li>20:00<div></div></li>
            </ul>
        </div>
        <div class="patient-list" id="patient-list" style="display: none">
            <ul>
                {% for patient in patients %}
                <li data-id="{{ patient.id }}">{{ patient.firstName }} {{ patient.lastName }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}