<nav class="navbar">
    <ul>
        <li class="navbar-logo">
            <img src="{{ asset('images/LogoClinica.png') }}" alt="Logo">
        </li>
        <li>
            <a href="{{ path('home') }}">Home</a>
        </li>
        <li>
            <a href="{{ path('appointment_list') }}">Schedule</a>
        </li>
        <li>
            <a href="{{ path('user_list') }}">Patient Data</a>
        </li>
        {% for role in app.user.roles %}
            {% if ( role == 'ROLE_PRACTITIONER' ) or ( role == 'ROLE_SECRETARY' )%}
                <li>
                    <a href="{{ path('timekeeping_list') }}">Timekeeping</a>
                </li>
                <li>
                    <a href="{{ path('leave_list') }}">Leave</a>
                </li>
            {% endif %}
        {% endfor %}
        <li>
            <a href="{{ path('about') }}">About Us</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
    </ul>
</nav>